[package]
name = "pegaflow-proto"
version.workspace = true
edition.workspace = true

[dependencies]
prost.workspace = true
tonic.workspace = true
tonic-prost.workspace = true

[build-dependencies]
tonic-prost-build = "0.14"
